@tailwind base;
@tailwind components;
@tailwind utilities;




.table-container {
    transition: opacity 0.5s ease-in-out;
}

.table-container.fade-out {
    opacity: 0;
}

.table-container.fade-in {
    opacity: 1;
}
















/* Светлая тема */
html.light {
    @apply bg-light-background text-light-text;
}
/* Тёмная тема (через класс dark) */
html.dark {
    @apply bg-dark-background text-dark-text;
}

/* Глобальный класс для header и footer */
.footer_bg {
    @apply bg-footerLight/* Для светлой темы */
}
.dark .footer_bg {
    @apply bg-footerDark/* Для тёмной темы */
}
